// This is the first time I'm writing SCSS.
// Don't judge me :(

$containerWidth: 700px;

$backgroundColor: #ffffff;

$bodyColor: #000000;
$bodyFont: "Inconsolata", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bodyLineHeight: 1.5;

$fontSizeScaleFactor: 1.2;

$bodyFontSize: 18px;
$smallBodyFontSize: 15px;

$footerFontSize: 14px;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize / $fontSizeScaleFactor;
  line-height: $bodyLineHeight;

  @media (min-width: $containerWidth) {
    margin-top: 5rem;
    font-size: $bodyFontSize * $fontSizeScaleFactor;
  }
}

a {
  color: #007bff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}

code {
  color: magenta;
}

.small {
  font-size: $smallBodyFontSize / $fontSizeScaleFactor;
  @media (min-width: $containerWidth) {
    font-size: $smallBodyFontSize * $fontSizeScaleFactor;
  }
}

footer {
  margin: 40px auto;
  text-align: center;
  text-wrap: balance;

  p {
    font-size: $footerFontSize / $fontSizeScaleFactor;
    @media (min-width: $containerWidth) {
      font-size: $footerFontSize * $fontSizeScaleFactor;
    }
  }
}

div.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: $containerWidth) {
  div.container {
    text-align: justify;
  }
}

img.avatar {
  width: 300px;
  height: 300px;

  @media (max-width: 500px) {
    width: 100%;
    object-fit: cover;
  }  
}

ul.projects-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 0.5rem;
  }

  a {
    font-weight: bold;
  }

  p {
    margin: 0;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}